@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.clg-container {
  display: flex;
  flex-direction: column;
}
.clg-container .background-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clg-container .logo-main {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: 700px;
  object-fit: cover;
  z-index: -1;
}
.link {
  text-decoration: none;
  color: black;
}

/* Header-container */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background: white;
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
  height: 120px;
}
.left-head {
  margin-left: 10px;
}
.left-head img {
  width: 120px;
  height: 120px;
}
.right-head {
  right: 0;
}
.right-head .contacts {
  position: absolute;
  background: white;
  padding: 20px;
  box-shadow:  0 0 30px rgb(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: -30px;
  white-space: nowrap;
}
.contacts i {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}
.right-head nav ul{
  display: flex;
}
.right-head nav li {
  font-size: 1rem;
  cursor: pointer;
  list-style: none;
  margin: 10px;
}
.right-head nav ul li .link:hover, .right-head nav li:hover {
  color: blue;
}

/* Food-container */

.food-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 50px;
}
.food-container .foods {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background: white;
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 250px;
}
.foods .login-access {
  cursor: pointer;
  position: absolute;
  margin-left: 230px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.foods .login-buttons {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
  box-shadow:  0 0 30px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 10px;
}
.foods .login-buttons i{
  cursor: pointer;
  position: absolute;
  margin-left: 95px;
}
.foods .login-buttons button {
  margin: 10px;
}
.foods .foods-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.foods-image .prod-image {
  width: 210px;
  height: 120px;
  margin-top: 10px;
}
.foods .foods-image .prod-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.foods .food-details {
  margin-top: 20px;
  border-top: 2px solid black;
}
.foods .food-details p {
  margin: 5px 10px 10px 10px;
}
.foods button {
  cursor: pointer;
  background: blue;
  border: 2px solid blue;
  color: white;
  padding: 10px;
  font-size: 1rem;
  transition: 0.8s ease;
}
.foods button:hover {
  background-color: rgb(0, 0, 187);
  border: 2px solid rgb(0, 0, 187);
}
.cart {
  position: absolute;
  right: 30px;
  margin: 10px;
  margin-top: 25px;
}
.cart-icon {
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  color: rgb(255, 128, 0);
}
.cart p {
  position: absolute;
  margin-top: -45px;
  margin-left: 10px;
  background: rgb(255, 211, 180);
  padding: 3px 10px;
  border-radius: 50%;
  font-size: 0.8rem;
}
.filters {
  margin: 10px 0px 0px 20px;
}
.filters select {
  padding: 10px;
  background: white;
  border: 0px;
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Update-Container */
.update-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.update-container form {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 20px;
  background: white;
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
  top: 150px;
  width: 250px;
}
.update-container form .fa-times {
  cursor: pointer;
  position: absolute;
  margin-left: 220px;
  margin-top: -10px;
}
.update-container form input, .update-container form select {
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(136, 136, 136, 0.4);
  outline: none;
  border-radius: 5px;
}
.update-container form input:focus, .update-container form select:focus {
  border: 2px solid blue;
}
.update-container form button {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  background: blue;
  color: white;
  font-size: 1rem;
  transition: 0.5s ease;
}
.update-container form button:hover {
  background: transparent;
  color: blue;
}

/* Cart-Container */

.cart-container {
  position: absolute;
  top: 170px;
  right: 0;
  background: white;
  width: 330px;
  padding: 10px;
  animation: animate 0.5s;
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
}
@keyframes animate {
  0%{
    margin-right: -500px;
  }100%{
    margin: 0px;
  }
}
.cart-container .times {
  position: absolute;
  cursor: pointer;
  right: 10px;
}
.cart-container .carts {
  margin-top: 10px;
  display: flex;
}
.carts .cart-image{
  border: 5px solid rgb(183, 183, 183);
  height: 120px;
}
.carts .cart-image img{
  width: 130px;
  height: 100px;
}
.carts .cart-details {
  margin-left: 20px;
}
.cart-details .quantity {
  display: flex;
  margin: 10px 0px;
}
.quantity p {
  cursor: pointer;
  margin-right: 10px;
  background: rgb(69, 169, 200);
  color: white;
  padding: 2px 8px;
  font-size: 1.2rem;
  border-radius: 5px;
}
.cart-container .checkout {
  cursor: pointer;
  padding: 10px;
  background: rgb(201, 1, 114);
  color: white;
  border: 2px solid rgb(201, 1, 114);
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1rem;
}

/* Event-Container */
.event-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.events {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
}
.event-container h2, .event-container p {
  margin: 0px 10px;
}
.events:hover span{
  content: '';
  padding: 10px;
  background: rgb(0, 188, 56);
  border-radius: 0px 0px 5px 5px;
  animation: slide 1s ease;
}
@keyframes slide {
  0% {
    opacity: 0;
    padding: 0;
  }100% {
    opacity: 1;
  }
}

/* Add-Container */
.newProd-container {
  display: flex;
  align-items: center;
}
.newProd-container form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}
.newProd-container form input, .newProd-container form select {
  padding: 10px;
  border: 2px solid grey;
  margin: 10px 10px 10px 0px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}
.newProd-container form input:focus {
  border: 2px solid blue;
}
.newProd-container form button {
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  background-color: blue;
  color: white;
  border: 2px solid blue;
  transition: 0.5s ease;
  border-radius: 5px;
}
.newProd-container form button:hover {
  background: rgb(13, 13, 162);
  border: 2px solid rgb(13, 13, 162);
}
.successsubmit {
  text-align: center;
  background: rgb(227, 255, 227);
  padding: 10px;
  margin-top: 30px;
}
.successsubmit::after {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 25px;
  width: 100%;
  padding: 5px 10px;
  background: rgb(39, 196, 39);
}

/* Login-Container */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.login-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
}
.login-container form input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(151, 151, 151, 0.4);
  margin-bottom: 10px;
  width: 250px;
}
.login-container form button {
  cursor: pointer;
  padding: 5px;
  background: blue;
  color: white;
  border: 2px solid blue;
  border-radius: 5px;
  font-size: 1rem;
}
.wrongsubmit {
  text-align: center;
  background: rgb(227, 244, 255);
  padding: 10px;
  margin-top: 30px;
}
.wrongsubmit::after {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 25px;
  width: 100%;
  padding: 5px 10px;
  background: rgb(57, 169, 244);
}